nav {
  height: 3.70em;
  display: flex;
  padding: 1em 5em;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.logo {
  max-width: 100px;
}
section {
  display: flex;
  padding: 3em;
  flex-direction: column;
}
.section-photo {
  max-width: 700px;
  align-self: center;
}
.section-header {
  margin-bottom: 1em;
}
.section-text {
  margin-top: 0;
}
.info {
  color: #918E9B;
}
.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  overflow-x: auto;
  margin: 0 3em;
}
.card {
  width:310px;
  font-size: 0.9em;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.sub-items {
  display: flex;
  align-items: center;
}
.star-img {
  height: 1em;
}
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-price {
  margin-top:auto;
}
.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}